{% extends 'base.html' %}
{% block title %}Liste des KPI{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Liste des KPI</h2>
    <div class="mb-3">
        <a href="{% url 'ajouter_kpi' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter KPI</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Unité</th>
                <th>Fréquence</th>
                <th>Département</th>
                <th>Date mesurée</th>
                <th>Rapport</th>
            </tr>
        </thead>
        <tbody>
            {% for kpi in kpis %}
            <tr>
                <td>{{ kpi.nom }}</td>
                <td>{{ kpi.unite }}</td>
                <td>{{ kpi.get_frequence_display }}</td>
                <td>{{ kpi.departement.nom }}</td>
                <td>{{ kpi.date_measured }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Aucun KPI défini.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
